.button{
  background-color: rgb(206, 61, 36);
  color:white;
  width:40px;
}





.in{
  width:40px;
  height: 50px;
  color:white;
  background-color: blue;
}
.de{
  width:40px;
  height: 50px;
  color:white;
  background-color: blue;
  
}

  

.r{
  width:40px;
  height: 50px;
  color:white;
  background-color: blue;
}


